@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Sacramento&display=swap');

.grid-1{
    background-color: #8D9A91;
    height: 100vh;
}

.box{
    background-color:white;
    left:50%;
    top:50%;
    margin-left: -350px;
    margin-top: -250px;
    position: absolute;
    width: 700px;
    height: 500px;
    border-radius: 3%;
}

.div-image{
    background: #A4C7A7;
    width: 55%;
    height: 100%;
    border-radius: 3%;
}

.bird{
    width: 100%;
    height: 90%;
    margin-left: -20px;
    margin-top: 70px;

}

.title{
    margin-left: 65%;
    margin-top: -70%;
    font-family: Sacramento;
    font-size:36px;
    color: #858585;

}

.welcome{
    margin-left: 66%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size:15px;
    color: #858585;
    margin-top: -4%;
}

.Form{
    margin-left: 40%;
    margin-top: 10%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.Button-signIn{
    margin-top: 10%;
}

.but{
    width: 70%;
    height: 40px;
    background-color:#A4C7A7;
    border-radius: 38%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}